[submodule "vendor/raylib"]
	path = vendor/raylib
	url = https://github.com/raysan5/raylib.git
    ignore = dirty
[submodule "vendor/tileson"]
	path = vendor/tileson
	url = https://github.com/SSBMTonberry/tileson.git
    ignore = dirty
